---
import image from "../../assets/images/rest.png";
---

<section class="relative bg-[#f4ecec] py-10 md:py-16">
	<div class="max-w-7xl mx-auto grid md:grid-cols-2 items-center gap-10 px-6">
		<div class="relative">
			<div class="bg-white p-4 shadow-lg">
				<img src={image.src} alt="Rooms" class="w-full object-cover" />
			</div>
		</div>

		<div class="text-[#5a3d37] mt-10 md:mt-0">
			<h2 class="text-2xl sm:text-3xl md:text-5xl font-kestrel">
				Restaurant
			</h2>
			<h3
				class="text-xl sm:text-2xl md:text-4xl merriweather text-[#759120] mt-1"
			>
				Ingredientes locales.
			</h3>
			<p
				class="mt-4 text-xs sm:text-sm md:text-sm merriweather leading-relaxed opacity-80"
			>
				En Bris Hotel creemos que un buen día comienza con un desayuno
				de calidad. Nuestro restaurante atiende principalmente en el
				horario de 7:00 am a 9:00 am, ofreciendo un servicio ágil y
				personalizado en un ambiente cómodo y acogedor. Los huéspedes
				pueden disfrutar de opciones frescas y variadas, pensadas tanto
				para quienes inician una jornada de trabajo como para los
				viajeros que desean energía y vitalidad antes de descubrir los
				encantos de Nasca.
			</p>

			<div class="mt-6 space-y-3 merriweather text-sm">
				<p>
					<span class="font-bold tracking-widest">DESAYUNO:</span> 7:00
					AM a 9:00 AM
				</p>
			</div>

			<button
				class="merriweather mt-8 bg-[#5a3d37] text-white px-5 sm:px-8 py-2.5 sm:py-3.5 text-[10px] sm:text-xs font-bold tracking-[0.15em] uppercase hover:bg-[#759120] transition rounded shadow-sm hover:shadow-md active:scale-95 cursor-pointer"
				onclick="enviarConsultaWhatsApp()"
			>
				<i class="fab fa-whatsapp text-lg mr-2"></i> CONSULTAR AHORA
			</button>
		</div>
	</div>
</section>
<script is:inline>
	function enviarConsultaWhatsApp() {
		const phone = "51940948536";

		const message = `Hola, quiero realizar un pedido en el restaurant.%0APor favor, ¿me pueden dar más información?`;

		const url = `https://wa.me/${phone}?text=${message}`;

		window.open(url, "_blank");
	}
</script>
