---
const image = "/about-2.png";
---
<section class="relative bg-[#f4ecec] py-12">
  	<div class="max-w-7xl mx-auto grid md:grid-cols-2 items-center gap-10 px-6">
    
		<div class="relative">
			<div class="bg-white p-4 shadow-lg">
				<img src={image} alt="Rooms" class="w-full object-cover" />
			</div>
		</div>

		<div class="text-[#5a3d37] mt-20">
			<h2 class="text-5xl font-kestrel">Nuestra Historia</h2>
			<h3 class="text-5xl merriweather text-[#759120] mt-2">
                La historia de Bris Hotel.
            </h3>
			<p class="mt-4 text-sm merriweather leading-relaxed">
				Bris Hotel nació de la visión de crear un refugio verdaderamente acogedor en el corazón de Nasca, combinando una hospitalidad genuina con un diseño cuidado y un amor por los sabores locales. Nuestro nombre se inspira en "un recuerdo preciado", un espíritu de sincera intención impregnado de cada detalle. Esto se refleja en nuestras habitaciones únicas.
			</p>

			<p class="mt-4 text-sm merriweather leading-relaxed">
				Nuestro profundo compromiso con la calidad y la comunidad guía todo lo que hacemos. Desde los ingredientes locales que dan forma a nuestra moderna cocina Peruana hasta las comodidades de nuestras habitaciones, celebramos lo mejor de Nasca. Nos esforzamos por crear un ambiente sofisticado pero sin pretensiones donde cada huésped se sienta realmente atendido. La historia de Bris Hotel continúa con cada visitante, y lo invitamos cordialmente a formar parte de ella: a relajarse, disfrutar y descubrir su propia experiencia en Nasca con nosotros.
			</p>

			<button class="mt-6 merriweather border border-[#5a3d37] text-[#5a3d37] px-6 py-3 font-semibold hover:bg-[#5a3d37] hover:text-white transition cursor-pointer" onclick="enviarConsultaWhatsApp()">
  				RESERVA AHORA
			</button>
		</div>
  	</div>
</section>
<script is:inline>
  	function enviarConsultaWhatsApp() {
    	const phone = "51940948536";

    	const message = `Hola, quiero realizar una reserva en Bris Hotel.%0APor favor, ¿me pueden dar más información?`;

    	const url = `https://wa.me/${phone}?text=${message}`;

    	window.open(url, "_blank");
  	}
</script>