---
const image = "/contact-2.png";
---
<section class="relative bg-[#f4ecec] py-12">
  	<div class="max-w-7xl mx-auto grid md:grid-cols-2 items-center gap-10 px-6">
		<div class="relative">
			<div class="bg-white p-4 shadow-lg">
				<img src={image} alt="Rooms" class="w-full object-cover" />
			</div>
		</div>

		<div class="text-[#5a3d37] mt-20">
			<h2 class="text-5xl font-kestrel">Contáctanos</h2>
			<h3 class="text-5xl merriweather text-[#759120] mt-2">
				La historia de Bris Hotel.
			</h3>
			<p class="mt-4 text-sm merriweather leading-relaxed">
				En Bris Hotel estamos siempre disponibles para atender tus consultas y reservas. Ya sea que viajes por negocios o turismo, nuestro equipo estará encantado de ayudarte a planificar una estadía cómoda y segura en el corazón de Nasca.
			</p>

			<p class="mt-4 text-sm merriweather leading-relaxed">
				Encuéntranos a pasos de la Plaza de Armas de Nasca.
			</p>

			<p class="mt-4 text-sm merriweather leading-relaxed">
				<strong>Central telefónica:</strong> (056) 522722 / 522268<br/>
				<strong>WhatsApp:</strong> +51 940948536<br/>
				<strong>Correo:</strong> reservas@brishotelperu.com<br/>
				<strong>Instagram:</strong> @brishotel
			</p>

			<button class="mt-6 merriweather border border-[#5a3d37] text-[#5a3d37] px-6 py-3 font-semibold hover:bg-[#5a3d37] hover:text-white transition cursor-pointer" onclick="enviarConsultaWhatsApp()">
				RESERVA AHORA
			</button>
		</div>
  	</div>
</section>
<script is:inline>
  	function enviarConsultaWhatsApp() {
    	const phone = "51940948536";

    	const message = `Hola, quiero realizar una reserva en Bris Hotel.%0APor favor, ¿me pueden dar más información?`;

    	const url = `https://wa.me/${phone}?text=${message}`;

    	window.open(url, "_blank");
  	}
</script>