<section id="restaurante" class="py-12">
    <div class="max-w-6xl mx-auto px-6 md:flex md:items-center md:gap-10">
        <div class="md:w-1/2">
            <h2 class="text-5xl font-kestrel text-[#5a3d37] mb-4">
                Nuestro restaurante
            </h2>
    
            <p class="text-md text-[#5a3d37] merriweather mb-6">
                Nuestro objetivo es trabajar con las mejores verduras de agricultores apasionados, pescado de pesca sostenible y carne de productores locales. Con estos productos de alta calidad, esperamos deleitar a nuestros comensales con una cocina innovadora y ética. El menú cambia a diario según la temporada y la disponibilidad de productos locales.
            </p>

            <p class="text-md text-[#5a3d37] merriweather mb-6">
                Al igual que en nuestra cocina, con nuestros vinos buscamos ofrecer productos puros y naturales. Nuestros vinos provienen principalmente de pequeños productores locales que no intervienen en el proceso de cultivo y cuidan la uva y la tierra con sumo cuidado. La mayoría de nuestros vinos se producen en Nasca. Nuestro objetivo es ofrecer un vino emocionante, audaz y con una excelente relación calidad-precio.
            </p>
        </div>

        <div class="md:w-1/2 mt-8 md:mt-0">
            <img src="/rest-2.png" alt="Restaurante Bris Hotel" class="w-full h-full object-cover rounded-lg shadow-xl transition-all duration-500 transform hover:scale-102" loading="lazy" />
        </div>
    </div>
</section>