<section id="restaurante" class="py-12 mt-12">
    <div class="max-w-6xl mx-auto px-6 md:flex md:items-center md:gap-10">
        <div class="md:w-1/2">
            <h2 class="text-5xl font-kestrel text-[#5a3d37] mb-4">
                Creando momentos
            </h2>
    
            <p class="text-md text-[#5a3d37] merriweather mb-6">
                Fiel a la inspiración de nuestro nombre, "un recuerdo preciado", nuestro mayor compromiso en Bris Hotel es crear momentos inolvidables para cada huésped que entra por nuestras puertas. Esta filosofía va mucho más allá del diseño de nuestros exclusivos salones inspirados en hierbas y la inquebrantable dedicación de nuestro restaurante a servir cocina californiana fresca y local que deleita el paladar. Se trata de la genuina calidez de nuestra bienvenida, el servicio intuitivo que busca anticipar proactivamente todas sus necesidades y nuestra inquebrantable pasión por compartir el vibrante espíritu de San Diego, haciendo que cada momento sea especial y personalizado.
            </p>

            <p class="text-md text-[#5a3d37] merriweather mb-6">
                Al igual que en nuestra cocina, con nuestros vinos buscamos ofrecer productos puros y naturales. Nuestros vinos provienen principalmente de pequeños productores locales que no intervienen en el proceso de cultivo y cuidan la uva y la tierra con sumo cuidado. La mayoría de nuestros vinos se producen en Nasca. Nuestro objetivo es ofrecer un vino emocionante, audaz y con una excelente relación calidad-precio.
            </p>
        </div>

        <div class="md:w-1/2 mt-8 md:mt-0">
            <img src="/about-3.png" alt="Restaurante Bris Hotel" class="w-full h-full object-cover rounded-lg shadow-xl transition-all duration-500 transform hover:scale-102" loading="lazy" />
        </div>
    </div>
</section>