<section id="restaurante" class="py-12">
    <div class="max-w-6xl mx-auto px-6 md:flex md:items-center md:gap-10">
        <div class="md:w-1/2">
            <h2 class="text-5xl font-kestrel text-[#5a3d37] mb-4">
                Creando momentos
            </h2>
    
            <p class="text-md text-[#5a3d37] merriweather mb-6">
                En Bris Hotel creemos que cada viaje tiene un propósito: trabajar, descubrir, descansar o simplemente reconectar.
            </p>

            <p class="text-md text-[#5a3d37] merriweather mb-6">
                Por eso, cuidamos cada detalle para que tu estadía se convierta en una experiencia cómoda, eficiente y llena de calidez.
            </p>

            <p class="text-md text-[#5a3d37] merriweather mb-6">
                Nuestro equipo combina hospitalidad y profesionalismo para que te sientas acompañado en todo momento —ya sea que llegues con tu familia, tu equipo de trabajo o en solitario.
            </p>

            <p class="text-md text-[#5a3d37] merriweather mb-6">
                Desde un desayuno antes de una jornada intensa hasta una tarde tranquila junto a la piscina, buscamos crear esos pequeños instantes que se convierten en grandes recuerdos.
            </p>

            <p class="text-md text-[#5a3d37] merriweather mb-6">
                Bris Hotel. Donde la experiencia se vive, se disfruta y se recuerda.
            </p>
        </div>

        <div class="md:w-1/2 mt-8 md:mt-0">
            <img src="/about-3.png" alt="Restaurante Bris Hotel" class="w-full h-full object-cover rounded-lg shadow-xl transition-all duration-500 transform hover:scale-102" loading="lazy" />
        </div>
    </div>
</section>