<section class="bg-[#f4ecec] py-16">
  	<div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-10 px-6 items-center">
    
    	<div class="text-center md:text-left space-y-3">
      		<h3 class="text-3xl md:text-4xl font-kestrel text-[#5a3d37]">
				Suscríbete
			</h3>
      		<p class="text-[#5a3d37] text-sm md:text-base merriweather max-w-xs md:max-w-sm mx-auto md:mx-0">
        		Para recibir ofertas especiales.
      		</p>
    	</div>

    	<form class="flex flex-col sm:flex-row gap-3 justify-center items-center w-full">
      		<input type="text" placeholder="Full Name" required class="bg-white shadow-sm focus:outline-none border merriweather border-[#5a3d37] px-4 py-2 rounded-lg focus:ring-1 focus:ring-[#5a3d37] text-sm w-full sm:w-44" />
      		<input type="email" placeholder="Your Email" required class="bg-white shadow-sm focus:outline-none border merriweather border-[#5a3d37] px-4 py-2 rounded-lg focus:ring-1 focus:ring-[#5a3d37] text-sm w-full sm:w-52" />
      		<button type="submit" class="bg-[#5a3d37] text-white px-5 py-2.5 rounded-lg font-medium shadow-md hover:bg-[#5a3d37] transition text-sm w-full sm:w-auto">
        		Subscribe
      		</button>
    	</form>

    	<div class="text-center md:text-right space-y-4 text-gray-700 text-sm">
      		<div>
        		<h4 class="font-kestrel tracking-wide text-[#5a3d37] text-2xl">Dirección</h4>
        		<p class="merriweather text-[#5a3d37] leading-relaxed">
          			Calle Callao 907<br />
					Nasca - Perú
        		</p>
      		</div>
      		<div>
        		<h4 class="font-kestrel tracking-wide text-[#5a3d37] text-2xl">Horario</h4>
        		<p class="merriweather text-[#5a3d37] leading-relaxed">
					Lunes a Domingo - 24 horas
				</p>
      		</div>
    	</div>
  	</div>
</section>