---
import about from '../assets/images/about.png';
import discover from '../assets/images/discover.png';
import blog from '../assets/images/blog.png';
import rest from '../assets/images/room-body.png';
import contact from '../assets/images/contact.png';
import dine from '../assets/images/dine.png';

const items = [
  { title: "Bris Hotel", image: about.src, link: "/about" },
  { title: "Restaurante y sala de conferencias", image: discover.src, link: "/restaurant", highlight: true },
  { title: "Relájate y disfruta", image: blog.src, link: "/gallery-activities" },
  { title: "Descanso", image: rest.src, link: "/rooms" },
  { title: "Contactos", image: contact.src, link: "/aboutus", highlight: true },
  { title: "Experiencias", image: dine.src, link: "/gallery-restaurant" },
];
---
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 max-w-6xl mt-32 mx-auto p-6">
  	{items.map((item) => (
    	<a href={item.link} class={`relative h-64 rounded-2xl overflow-hidden shadow-lg group cursor-pointer ${item.highlight ? "md:-translate-y-10" : ""}`}>
      		<img src={item.image} alt={item.title} class="w-full h-full object-cover transform group-hover:scale-110 transition duration-500 ease-in-out" />
      		<div class="absolute inset-0 bg-[#5a3d37]/70 flex items-center justify-center">
        		<h2 class="text-white text-2xl merriweather text-center tracking-wide">{item.title}</h2>
      		</div>
    	</a>
  	))}
</div>