---
const image = "/rest.png";
---
<section class="relative bg-[#f4ecec] py-12">
  	<div class="max-w-7xl mx-auto grid md:grid-cols-2 items-center gap-10 px-6">
    
		<div class="relative">
			<div class="bg-white p-4 shadow-lg">
				<img src={image} alt="Rooms" class="w-full object-cover" />
			</div>
		</div>

		<div class="text-[#5a3d37] mt-20">
			<h2 class="text-5xl font-kestrel">Restaurant</h2>
			<h3 class="text-5xl merriweather text-[#759120] mt-2">
                Ingredientes locales.
            </h3>
			<p class="mt-4 text-sm merriweather leading-relaxed">
				En Bris Hotel creemos que un buen día comienza con un desayuno de calidad. Nuestro restaurante atiende principalmente en el horario de 7:00 am a 9:00 am, ofreciendo un servicio ágil y personalizado en un ambiente cómodo y acogedor. Los huéspedes pueden disfrutar de opciones frescas y variadas, pensadas tanto para quienes inician una jornada de trabajo como para los viajeros que desean energía y vitalidad antes de descubrir los encantos de Nasca.
			</p>

			<div class="mt-6 space-y-3 merriweather text-sm">
				<p>
                    <span class="font-bold tracking-widest">DESAYUNO:</span> 7:00 AM a 9:00 AM
                </p>
			</div>

			<button class="merriweather mt-6 border border-[#5a3d37] text-[#5a3d37] px-6 py-3 font-semibold hover:bg-[#5a3d37] hover:text-white transition cursor-pointer" onclick="enviarConsultaWhatsApp()">
  				RESERVA AHORA
			</button>
		</div>
  	</div>
</section>
<script is:inline>
  	function enviarConsultaWhatsApp() {
    	const phone = "51940948536";

    	const message = `Hola, quiero realizar un pedido en el restaurant.%0APor favor, ¿me pueden dar más información?`;

    	const url = `https://wa.me/${phone}?text=${message}`;

    	window.open(url, "_blank");
  	}
</script>