---
const features = [
	"DESAYUNO INCLUIDO",
  	"WIFI ULTRA RÁPIDO",
  	"NETFLIX & APPLE TV",
  	"COMIDA EN LA HABITACIÓN",
  	"VENTANAS Y PUERTAS CON AISLAMIENTO ACÚSTICO",
  	"CHECK-IN Y CHECK-OUT EN LÍNEA",
  	"CONTROL DEL CLIMA",
  	"SE ADMITEN MASCOTAS",
  	"CHECK-IN TEMPRANO Y CHECK-OUT TARDÍO",
];

const rooms = [
  	"Matrimonial",
  	"Queen",
  	"Simple",
  	"Triple"
];
---
<section class="py-8 bg-white text-center">
  	<div class="flex flex-wrap justify-center gap-6 text-lg mb-12">
    	{rooms.map((room) => (
      		<a href={`#room-${room.toLowerCase()}`} class="text-[#759120] merriweather hover:text-[#5a3d37] transition-colors">
        		{room}
      		</a>
    	))}
  	</div>

  	<h2 class="text-2xl md:text-3xl font-bold merriweather text-[#5a3d37] tracking-wide mb-12">
    	COSAS QUE TE ENCANTARÁN
  	</h2>

  	<div class="max-w-5xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
    	{features.map((item, i) => (
      		<div class={`flex flex-col items-center justify-center px-6 py-8 ${i % 3 !== 2 && 'md:border-r'} ${i < features.length - 3 && 'md:border-b'} border-[#5a3d37]`}>
        		<span class="text-2xl merriweather font-semibold text-[#759120]">{i + 1}</span>
        		<p class="mt-2 text-sm font-medium text-[#5a3d37] uppercase merriweather tracking-wide">
          			{item}
        		</p>
      		</div>
    	))}
  	</div>
</section>