---
const features = [
	"DESAYUNO INCLUIDO",
	"FREE WIFI",
	"SMART TV",
	"ROOM SERVICE",
	"VENTANAS Y PUERTAS CON AISLAMIENTO ACÚSTICO",
	"CHECK-IN Y CHECK-OUT EN LÍNEA",
	"AIRE ACONDICIONADO",
	"CHECK-IN TEMPRANO Y CHECK-OUT TARDÍO",
];

const rooms = [
	"Simple",
	"Doble",
	"Matrimonial",
	"Queen",
	"King-Size",
	"Triple",
	"Cuadruple",
];
---

<section class="pt-8 pb-4 md:py-8 bg-white text-center">
	<div
		class="flex flex-wrap justify-center gap-4 md:gap-6 text-lg mb-8 md:mb-12"
	>
		{
			rooms.map((room) => (
				<a
					href={`#room-${room.toLowerCase()}`}
					class="text-[#759120] merriweather hover:text-[#5a3d37] transition-colors"
				>
					{room}
				</a>
			))
		}
	</div>

	<h2
		class="text-2xl sm:text-3xl md:text-4xl font-bold merriweather text-[#5a3d37] tracking-wide mb-6 md:mb-12"
	>
		COSAS QUE TE ENCANTARÁN
	</h2>

	<div
		class="max-w-5xl mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4"
	>
		{
			features.map((item, i) => (
				<div
					class={`flex flex-col items-center justify-center px-6 py-4 md:py-8 ${i % 3 !== 3 ? "border-b" : ""} border-[#5a3d37]`}
				>
					<span class="text-2xl merriweather font-semibold text-[#759120]">
						{i + 1}
					</span>
					<p class="mt-2 text-sm sm:text-base font-medium text-[#5a3d37] uppercase merriweather tracking-wide">
						{item}
					</p>
				</div>
			))
		}
	</div>
</section>
